services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./src/components:/app/components
            - ./src/settings.py:/app/settings.py
        ports:
            - "5000:5000"
        entrypoint: python3 tvwb.py